body {
    font-family: "Helvetica", 'sans-serif';
    margin: 0;
}

ul {
    list-style-type: none;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #1f2937;
}

.header-links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;

}